@charset "UTF-8";
/*
Author: Keegan Colter
Date: Feb 16, 2023
*/
/*Mobile phone*/
@media only screen and (max-width: 768px){
    *{
        text-align: center;
    }

    ul{
        list-style-position: inside;
    }
}

/*Tablet*/
@media only screen and (min-width: 769px){
	
}

/*Desktop*/
@media only screen and (min-width: 1024px){
    
}

#resumeItem1{
    align-content: center;
}

