@charset "UTF-8";
/*
Author: Keegan Colter
Date: Feb 16, 2023
*/

/*Mobile phone and Tablet*/
@media only screen and (max-width: 1023px){
    *{
        text-align: center;
        font-size: larger;
    }

    #contentArea{
        margin-left: 5%;
        margin-right: 5%;
    }

    #hamburger{
        position: absolute;
        top: 0;
        right: 0;
    }

    #burgerMenuOpen, #burgerMenuClose{
        width: 25px;
        height: 25px;
    }

    ul{
        list-style-position: inside;
    }

    /*researched from https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0*/
    /*for hamburger menu*/
    .menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        list-style: none;
        padding-top: 4rem;

    }           

    .showMenu{
        transform: translateY(0);
    }

    .closeIcon{
        display: none;
    }

    .hamburgerButton{
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        cursor: pointer;
        size: 10px;
    }

    /*carraige returns before each menuItem, allowing for vertical drop-down menu for hamburger menu*/
    .menuItem::before {
        content: '\A'; /*\A being the carriage return character*/
        white-space: pre;
    }
}

/*Desktop*/
@media only screen and (min-width: 1024px){

    p{
        font-size: larger;
    }

    .hamburgerButton{
        display: none;
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        align-content: center;
    }

    .grid-container *{
        padding-left: 3%;
        padding-right: 3%;
    }

    .item1{
        grid-column: 1 / span 2;
        text-align: center;
        font-size: xx-large;
    }

    .item2{
        text-align: right;
        list-style-position: inside;
        direction: rtl;
    }

    .item3{
        text-align: left;
    }

    .item4{
        text-align: right;
        direction: rtl;
    }

    .item5{
        text-align: left;
    }

    .item6 {
        display: grid;
        grid-template-columns: auto auto;
    }

    .item6 h2{
        grid-column: 1 / span 3;
        text-align: center;
    }

    .item6_1{
        grid-column: 1 / span 1;
        text-align: right;
        direction: rtl;
        padding-left: 3%;
        padding-right: 3%;
    }

    .item6_2{
        grid-column: 2 / span 2;
        padding-left: 3%;
        padding-right: 3%;
        text-align: left;
    }


}

