@charset "UTF-8";
/*
Author: Keegan Colter
Date: Feb 3, 2023
*/


@media only screen and (max-width: 1023px){

    .menu{
        background: #003153;
        color: white;
    }

    .hamburgerButton{
        border: black solid 1px;
        background: white;
    }

    body{
        background-color: #003153;
        color: #FFF8E7;
    }

    a{
        color: #FFF8E7;
    }
}

/*Desktop*/
@media only screen and (min-width: 1024px){

    body {
        background-color: #FFF8E7;
        color: #003153;
        font-family: Georgia, 'Times New Roman', Times, serif;
        align-content: center;
        
    }
    
    #contentArea{
        padding-left: 30%;
        padding-right: 30%;
    }
    
    #directory{
        padding: 1% 3%;
    
        background-image: linear-gradient(to right,#003153,#003154,#FFF8E7);
    
        background-color: #003153;
        color: #FFF8E7;
    }
    
    #directory a{
        background-color: #003153;
        color: #FFF8E7;
    }
    
    a{
        color: #003153;
    }

    .item1{
        border-left: solid 2px #003153;
        border-bottom: solid 2px #003153;
        font-size: xx-large;
    }

    .item2{
        border-right: solid 1px #003153;
    }

    .item3{
        border-left: solid 1px #003153;
    }

    .item4{
        border-right: solid 1px #003153;
    }

    .item5{
        border-left: solid 1px #003153;
    }

    .item6{
        border: solid 1px #003153;
        border-left: none;
    }

    .item6_1{
        border-right: solid 1px #003153;
    }

    .item6_2{
        border-left: solid 1px #003153;
    }
}

